In [1]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('students_placement.csv')

In [4]:
df.shape

(300, 4)

In [5]:
df.sample(5)

     cgpa   iq  profile_score  placed
101  5.83  106             60       0
170  5.76  103             67       0
11   5.64  106             36       0
20   5.78  112             46       0
295  6.44  107             54       0

In [6]:
X = df.drop(columns=['placed'])
y = df['placed']

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.8666666666666667

In [9]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [10]:
import pickle 
pickle.dump(knn,open('model.pkl','wb'))